#banner {
    position: fixed ;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-bottom: 1ex;
    background-color: black;
    color: white;
}

#banner > div {
    padding: 5pt;
}

#toolbar {
    float: left;
}

#toolbar2 {
    float: right;
}

#testinfo {
    background-color: red !important;
    clear: both;
}

#banner * {
    font-family: sans-serif;
    font-size: medium;
    color: white;
}

#banner ul {
    padding: 0pt;
    margin: 0pt;
    display: inline;
}

#banner li {
    float: left;
    list-style-type: none;
    margin-right: 0.8em;
}

#banner a {
    text-decoration: none;
}

#banner a:link,
#banner a:active,
#banner a:visited {
	color: #0084B8;
}

#banner a:hover {
	color: #77C9EA;
}

.highlight {
	color: #77C9EA !important;
}

#banner br {
    clear: both;
}
